.player {
  list-style: none;
  padding: 0.375rem 0;
  position: relative;
}

.team + .team .player {
  border: none;
}

.player:nth-child(odd) {
  background-color: #f2f2f2;
  margin-left: -0.5em;
  padding-left: 0.5em;
}

.team + .team .player:nth-child(odd) {
  margin-left: 0;
  margin-right: -0.5em;
  padding-left: 0;
  padding-right: 0.5em;
}

.player-edit-input {
  background: #f2f2f2;
  border: 1px solid #e9e9e9;
  font-size: 0.675em;
  padding: 0.375em 1em;
  width: 100%;
}

.player-edit-controls {
  position: absolute;
  transform: translateY(4px);
  left: 0;
  z-index: 999;
}

.player-edit-done,
.player-edit-delete {
  padding: 0.25em 1em;
  margin-right: 0.25em;
  background-color: #333;
  font-size: 1em;
  border-radius: 4px;
}

.player-edit-done {
  color: #b8e986;
}

.player-edit-delete {
  color: #ff4f6c;
  padding: 0.25em 0.5em;
}
