.team {
  flex: 1;
  text-align: left;
}

.team + .team {
  text-align: right;
}

.team-title {
  font-size: 1.125em;
  font-weight: bold;
  text-transform: capitalize;
}

.bench .team {
  --team-color: #999b9e;
}
