.team {
  flex: 1;
  text-align: left;
  margin-top: 0.75em;
  margin-bottom: 1.5em;
}

.team .team-title .icon {
  margin-right: 0.5em;
}

.team:nth-child(even) {
  text-align: right;
}

.team:nth-child(even) .team-title,
.team:nth-child(even) .player {
  display: flex;
  flex-direction: row-reverse;
}

.team:nth-child(even) .team-title .icon {
  margin-right: 0;
  margin-left: 0.5em;
}

.team-title {
  font-size: 1.125em;
  font-weight: bold;
  text-transform: capitalize;
}

.bench .team {
  --team-color: #999b9e;
}
