:root {
  --app-color: #fecb2f;
  --text-color: #071d3a;
}

html {
  min-height: 100%;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
  font-size: 16px;
}

.page,
.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  /*overflow: hidden;
  overflow-y: auto;*/
}

.page {
  background-color: #f2f2f2;
  color: var(--text-color);
}

.app-header {
  background: var(--app-color);
  color: #333333;
  padding: 0.75rem 2rem;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.app-header-logo {
  height: 2rem;
  display: block;
}

.game,
.bench {
  margin: 3rem 0;
  background: white;
  padding: 0.75rem 0.5rem;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  position: relative;
}

@keyframes flash-background {
  0% {
    background-color: #ecfe0055;
  }
  100% {
    background-color: white;
  }
}

.game.-no-flash {
  animation: 1s flash-background forwards 0ms;
}

.options {
  margin: 0 0;
  padding: 0.75rem 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
}

.bench {
  opacity: 0.8;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}

.game-teams {
  display: flex;
}

.game-teams .team + .team {
  border-left: 1px solid #e0e0e0;
}

.team-size-field {
  display: flex;
  align-items: center;
}

.team-size-field input {
  flex: 0 0 5em;
  margin-left: 1em;
}

.team-size-field.-strikethrough {
  text-decoration: line-through;
  opacity: 0.5;
}

@media (min-width: 24em) {
  .game,
  .bench {
    margin: 3rem auto;
    padding: 0.75rem 1rem;
    max-width: 22em;
    border-radius: 4px;
  }

  .options {
    margin: 0rem auto;
    max-width: 22em;
  }

  .game-add-player {
    right: 0em;
  }
}

.game-counter {
  margin-bottom: 0.75rem;
}
