html {
  min-height: 100%;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.page,
.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  /*overflow: hidden;
  overflow-y: auto;*/
}

.page {
  background-color: #f2f2f2;
  color: #2a343e;
}

.app-header {
  background: #fecb2f;
  color: #333333;
  padding: 0.75rem 2rem;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.game {
  margin: 3rem 0;
  background: white;
  padding: 0.75rem 0.5rem;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.15);
  position: relative;
}

.game-teams {
  display: flex;
}

.game-add-player {
  position: absolute;
  top: -1.5em;
  right: 0.5em;
}

@media (min-width: 24em) {
  .game {
    margin: 3rem auto;
    padding: 0.75rem 1rem;
    max-width: 22em;
    border-radius: 4px;
  }

  .game-add-player {
    right: 0em;
  }
}

.game-shuffle {
  position: fixed;
  font-size: 1.5em;
  padding: 1em;
  background: #fdca42;
  right: 2rem;
  bottom: 2.5rem;
  border-radius: 50%;
  border: 2px solid #333;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.25) ;
}

.game-shuffle .icon {
  width: 1em;
  height: 1em;
  display: block;
}
